{% extends "base.html" %}

{% block content %}
  <h2>Directories:</h2>
  <table class="inventory-table">
    <tr>
      <th>Name:</th>
      <th>Size:</th>
      <th>Last modified:</th>
    </tr>
    {% for directory in object_list %}
      <tr>
        <td><a href="{% url 'directory-detail' directory.slug %}"><i class="fa fa-folder"></i> {{ directory.name }}</a></td>
        <td class="meta">{{ directory.size|filesizeformat }}</td>
        <td class="meta">{{ directory.modified_time|timesince }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
