$gray: #333
$very-light-gray: lighten($gray, 70%)
$list-link-color: #222

body
  font-size: 17px

h1, h2, h3, h4, h5
  text-align: center

img
  max-width: 100%

.wrapper
  width: 90%
  max-width: 1000px
  margin: 0 auto

.directory-list,
.file-list
  margin: 0
  padding: 0

  li
    line-height: 2em
    border-bottom: 1px dashed $gray
    list-style-type: none

    a
      color: $list-link-color
      text-decoration: none

      &:active
        color: darken($list-link-color, 20%)

    &:hover
      background: $very-light-gray

.thumbnail
  margin: 10px auto
  display: block
