$gray: #333
$light-gray: lighten($gray, 40%)
$very-light-gray: lighten($gray, 70%)
$list-link-color: #222

body
  font-size: 17px

h1, h2, h3, h4, h5
  text-align: center

img
  max-width: 100%

.wrapper
  width: 90%
  max-width: 1000px
  margin: 0 auto

.inventory-table
  width: 100%
  border-spacing: 0

  tr
    line-height: 2em
    list-style-type: none

    th
      text-align: left

      &:first-child
        min-width: 60%

    td
      margin: 0
      border-bottom: 1px dashed $light-gray

      &:first-child
        min-width: 60%


    a
      color: $list-link-color
      text-decoration: none

      &:active
        color: darken($list-link-color, 20%)

    .meta
      margin: 0 10px
      color: $light-gray

    &:hover
      background: $very-light-gray

.thumbnail
  margin: 10px auto
  display: block
